/*----General Styles-----*/
body {
    background: #fff;
    color: #333;
    font-family: "Times New Roman";
}

ul {
    margin: 20px;
    padding: 10px;
}

li {
    overflow: hidden;
    padding: 20px 0;
    border: 1px solid #eee;
}
li * {
    float: left;
}

li,
h3 {
    clear: both;
    list-style: none;
}

h3,
label[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
input[type="text"]:focus {
    color: #333;
}

label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}

 input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
}

 label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
}

input[type="text"] {
    width: 226px;
}

button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
button:hover {
    color: #333;
}
input, button {
    outline: none;
}

/*----Container Styles-----*/
.container {
    display: block;
    width: 80%;
    margin:6% auto auto ;
    background: rgba(240, 248, 255, 0.42);
    border-radius: 15px;
}
.containerChild {
    width: 33%;
    display: inline-flex;
}
#contain {
    padding-bottom: 5%
}

/*----Messages and buttons Styles-----*/
.warning {
    color: #FF0000;
    text-align: center;
}
.success {
    color: #4DB84D;
    text-align: center;
}

.delete:hover {
    color: #CF2323;
}

#add:hover {
    color: #0FC57C;
}

.pull-right {
    float: right;
}

/*----Edit mode Styles-----*/
.input-value {
    display: none;
}

.editMode .input-value {
    display: block;
}
.editMode label {
    display: none;
}

/*----Tasks Styles-----*/
#new-task {
    width: 50%;
    margin-left: 20%;
}

#completed-tasks label {
    text-decoration: line-through;
    color: #888;
}

#Ñounter{
    background-color: #e43e4f;
    color: #fff;
    letter-spacing: 0;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    height: 22px;
    width: 26px;
    padding: 4px 0 0 0;
}

/*----media queries-----*/
@media screen and (max-width: 550px) {
    .container {
        width: 90%;
    }
    h3, label[for='new-task'] {
        font-size: 25px;
    }

    h3 span {
        height: 33px;
        width: 34px;
    }

    li > label {
        width: 40%;
    }

    button {
        margin: 0;
    }

    .editMode input[type=text] {
        width: 35% !important;
    }

    label {
        word-break: break-all;
    }

    input#new-task {
        margin-left: 14%;
    }
}